@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-12">
        <h1 class="page-header">Download</h1>
        <a asp-action="DownloadFile" asp-controller="Home">Download test file using Azure AD authentication</a>
    </div>
</div>